# AWS Cognito Ayarlari
VITE_AWS_REGION="eu-central-1"
VITE_COGNITO_USER_POOL_ID="your-pool-id"
VITE_COGNITO_CLIENT_ID="your-client-id"
VITE_API_ENDPOINT="https://your-api-gateway-url"
VITE_GROQ_API_KEY="your-groq-api-key"
